.contact-section {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: visible;
	position: relative;
	transition: 0.07s ease-in-out;
	background-color: var(--color-primary);

	h1 {
		font-size: 24px;
	}
}

.contact-section.open {
	width: 360px;
}

.contact-section.closed {
	width: 0;
}

.contact-list {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	width: 100%;
}

.contact {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	border-top: 1px solid var(--color-primary-2);
	background-color: var(--color-primary);
	p {
		margin: 0;
		padding: 20px 20px;
	}
}

.contact:hover {
	background-color: var(--color-secondary-2);
	cursor: pointer;
}

.contact.active {
	background-color: var(--color-secondary);
	color: var(--color-primary);
}
