.messages-page {
	width: 100vw;
	height: 100vh;
	display: flex;
	background-color: var(--color-primary);
}

.contact-section-toggle,
.search-section-toggle,
.group-options-toggle,
.profile-link {
	margin: 20px;
	position: absolute;
	top: 0;
}

.profile-link {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	right: 0;
}

.group-options-toggle {
	right: 80px;
}

.search-section-toggle {
	margin-left: 80px;
}

.contact-section-toggle.open,
.search-section-toggle.open {
	left: 360px;
}
.contact-section-toggle.closed,
.search-section-toggle.closed {
	left: 0;
}

@media screen and (max-width: 1024px) {
	.contact-section-toggle.open {
		left: 50vw;
	}
	.search-section-toggle.open {
		left: calc(50vw + 50px);
	}
	.group-options-toggle {
		right: 50px;
	}
	.search-section-toggle.closed {
		left: 50px;
	}
	.contact-section-toggle,
	.search-section-toggle,
	.group-options-toggle,
	.profile-link {
		margin: 20px 10px;
	}
}

@media screen and (max-width: 768px) {
	.contact-section-toggle.open {
		left: calc(100vw - 130px);
	}
	.search-section-toggle.open {
		left: calc(100vw - 80px);
	}
	.contact-section-toggle,
	.search-section-toggle {
		z-index: 31;
	}

	.contact-section-toggle.icon-button,
	.search-section-toggle.icon-button {
		background: none;
	}
}

@media screen and (max-width: 600px) {
	.icon-button.contact-section-toggle svg,
	.icon-button.search-section-toggle svg {
		width: 20px;
		height: 20px;
	}
}
