.messages-page {
	width: 100vw;
	height: 100vh;
	display: flex;
	background-color: var(--color-primary);
}

.contact-section-toggle {
	margin: 20px;
	position: absolute;
	top: 0;
}

.contact-section-toggle.open {
	left: 360px;
}
.contact-section-toggle.closed {
	left: 0;
}
